

.about_me{
	font-size:1.35em;
	margin: 3% 5%;
	transition:opacity 0.1s 0.75s;
}

#additional_experience{
	border-right:2px solid black;
	display:inline-block;
	float:left;
	height:100%;
	width:33.3%
}

#additional_experience ul{
	list-style-type:none;
}

body{
	background-image:url('../images/wood_texture.jpg');
	font-family: 'Open Sans Condensed', sans-serif;
}

#comments{
	width:100%;
}

#cont{
	color:#47B56F;
	font-size:1.5em;
}

#contact{
	background-color: rgba(96,189,109,0.6);
	border-radius:0 0 10px 10px;
	box-shadow:0 5px 10px 0 #333;
	bottom:-90px;
	height:50%;
	left:15%;
	position:absolute;
	width:70%;
	z-index:-1;
}


#contact:hover{
	bottom:-110px;
}

#contact_button{
	background-color:#3A5E43;
	border:none;
	box-shadow:2px 2px 2px #333;
	color:white;
	height:50px;
	margin-top:30px;
	width:100px;
}

#contact_button:active{
	background-color:#FFF;	
	margin-top:35px;
}

#contact_button:hover{
	background-color:#0587A1;
}

#contact_content{
	background-color:rgba(203, 235, 195, 1);
	height:75%;
	left:12.5%;
	position:absolute;
	top:5%;
	width:75%;
}

#contact_form_container{
	float:right;
	font-size:1.8em;
	margin-right:5%;
	width:40%;
}

#contact_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	bottom:10%;
	left:45%;
}

#contact_info{
	border-right:2px solid #000000;
	float:left;
	font-size:1.8em;
	height:100%;
	width:50%;
}

#contact_nav:hover{
	color:#47B56F;
}

#kiki{
 	display:inline-block;
 	margin-top:43%;
 }

#degree{
	color:#FE4455;
	font-size:1.5em;
}

#education{
	background-color: rgba(254,68,85,0.5);
	border-radius: 0 10px 10px 0;
	box-shadow:2px 5px 10px #000;
	height:350px;
	right:-90px;
	width:30%;
	position:absolute;
	top:75px;
	z-index:-1; 
}

#education:hover{
	right:-110px;
}

#education_content{
	background-color: rgba(255,189,195,1);
	font-size:1.5em;
	height:90%;
	left:10%;
	overflow:auto;
	padding-left:5%;
	position:absolute;
	top:5%;
	width:70%;
	text-align:left;
}

#education_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	right:7%;
	top:40%;
}

#education_nav:hover{
	color:#E34FDE;
}

#experience{
	color:#9A58DB;
	font-size:1.5em;
}

h2{
	margin:1%;
	text-transform:uppercase;
}

.hidden{
	display:none;
}

#home_nav:hover{
	color:#999;
}

.visually_hidden{
	opacity:0;
	transition:0.1s;
}

#main_container{
	background-color:#F0E9C0;
	box-shadow: 2px 5px 15px #333;
	height:500px;
	left:30%;
	min-height:500px;
	min-width:600px;
	position:absolute;
	text-align:center;
	top:20%;
	width:40%;	
	-webkit-transition-property: height, width, left, top;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0;
}

#main_container:before, #main_container:after{
	content:"";
	background:#111;
	bottom:15px;
	box-shadow:0 15px 10px #333;
	left:10px;
	max-width:300px;
	position:absolute;
	top:80%;
	transform:rotate(-5deg);
	width:50%;	
	z-index:-1;
}

#main_container:after{
	left:auto;
	right:10px;
	transform:rotate(5deg);
}

.navigation {
	color:#444;
	cursor:pointer;
}

.navigation.expanded_vertically{ /*ASK HACKETT IF BAD!!!*****************************************************************************/
	display:block;
	margin-top:13vh;
}

.navigation.expanded_vertically.hidden{
	display:none;
}

.navigation.expanded_horizontally{
	display:inline;
	margin-left:10vw;
}

.navigation.expanded_horizontally.hidden{
	display:none;
}

#or{
	background-color:rgba(203, 235, 195, 1);
	font-size:2em;
	height:20%;
	left:47.5%;
	position:absolute;
	text-align:center;
	top:35%;
	width:5%;
	vertical-align:middle;
	padding-top:5%;
}

#programming_languages{
	border-right:2px solid #000000;
	display:inline-block;
	float:left;
	height:100%;
	width:33.3%;
}

#programming_languages ul{
	list-style-type:none;
}

#proj{
	color:#2CB7F2;
	font-size:1.5em;
}

#projects{
	background-color:rgba(17,85,255,0.5);
	border-radius:10px 0 0 10px;
	box-shadow: -2px 5px 15px #333;
	height:350px;
	left:-90px;
	position:absolute;
	top:75px;
	width:30%;
	z-index:-1;
}

#projects:hover{
	left:-110px;
}

#projects_content{
	background-color: rgba(189, 202, 255, 1);
	font-size:1.2em;
	height:90%;
	overflow:auto;
	position:absolute;
	right:10%;
	top:5%;
	width:75%;
	text-align:left;
}


#projects.expanded{
	height:75%;
	right:10vw;
	width:75vw;
	left:auto;
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 0.75s, 0s;
}

#projects_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	left:10%;
	top:40%;
}

#projects_nav:hover{
	color:#2CB7F2;
}

.subcategory{
	font-weight:bold;
}

#work{
	background-color:rgba(89,51,204,0.6);
	border-radius:10px 10px 0 0;
	box-shadow: 2px 5px 15px #333;
	height:50%;
	position:absolute;
	top:-90px;
	left:15%;
	width:70%;
	z-index:-1;
}

#work:hover{
	top:-110px;
}

#work_content{
	background-color:rgba(204, 187, 240, 1);
	bottom:5%;
	font-size:1.5em;
	height:75%;
	left:12.5%;
	position:absolute;
	width:75%;
}

#work_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	top:10%;
	left:45%;
}

#work_nav:hover{
	color:#9A58DB;
}


/******************************************************************************************************************/


#contact.expanded{
	height:82vh;
	overflow:auto;
	width:75vw;
	top:15vh;
	-webkit-transition: width 0.95s, height 0.95s;
}

#education.expanded{
	height:75%;
	left:10vw;
	width:75vw;
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 0.75s, 0s;
}

#main_container.expanded_left{
    -webkit-transition-property: left, width, height, top, background-color;
    -webkit-transition-duration: 0.4s, 0.95s, 0.95s, 0.95s, 1s;
    -webkit-transition-delay: 0s, .0s, 0s, 0s, 0.5s;
    
    background-color:#FFF;
	height:100%;
    left:0;
    min-width:100px;
    top:0;
    width:10vw;
}

#main_container.expanded_right{
    -webkit-transition-property: left, width, height, top, background-color;
    -webkit-transition-duration: 0.4s, 0.95s, 0.95s, 0.95s, 1s;
    -webkit-transition-delay: 0s, 0s, 0s, 0s, 0.5s;


	background-color:#FFF;
	height:100%;
	left:auto;
	left:90vw;
	min-width:100px;
	top:0;
	width:10vw;
}

#main_container.expanded_top{
    -webkit-transition-property: width, left, top, height, background-color;
    -webkit-transition-duration: 0.4s, 0.4s, 0.95s, 0.95s, 1s;
    -webkit-transition-delay: 0s, 0s, 0s, 0s, 0.5s;
    
	background-color:#FFF;
	min-height:100px;
	top:0;
	left:0;
	height:15vh;
	width:100%;
}

#main_container.expanded_bottom{
    -webkit-transition-property: width, left, top, height, background-color;
    -webkit-transition-duration: 0.4s, 0.4s, 0.95s, 0.95s, 1s;
    -webkit-transition-delay: 0s, 0s, 0s, 0s, 0.5s;	

	background-color:#FFF;
	min-height:100px;
	top:auto;
	height:15vh;
	width:100%;
	left:0;
	bottom:0;
}

#work.expanded{
	bottom:15vh;
	height:82vh;
	position:absolute;
	width:75vw;
	/*top:-82vh;*/
	top:auto;
	-webkit-transition: width 0.95s, height 0.95s;
}