#about_me .face{
	background-color: #333;
}

#additional_experience{
	border-right:2px solid black;
	display:inline-block;
	float:left;
	height:100%;
	width:33.3%
}

#additional_experience ul{
	list-style-type:none;
}

.back, .front{
	backface-visibility:hidden;
	transform:translateZ(1px);
}

.back{
	transform:rotateY(180deg);
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}

#comments{
	width:100%;
}

#cont{
	color:#47B56F;
	font-size:1.5em;
}

#contact{
	left: -19vw;
	top: 0;
}

#contact .face{
	background-color:#47B56F;
}

#contact_content{
	background-color:rgba(203, 235, 195, 1);
	height:75%;
	left:12.5%;
	position:absolute;
	top:5%;
	width:75%;
}

#contact_form_container{
	float:right;
	font-size:1.8em;
	margin-right:5%;
	width:40%;
}

#contact_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	bottom:10%;
	left:45%;
}

#contact_info{
	border-right:2px solid #000000;
	float:left;
	font-size:1.8em;
	height:100%;
	width:50%;
}

#contact_info>span:first-child{
 	display:inline-block;
 	margin-top:43%;
}

.contact_links{
	height:100px;
	left:75%;
	margin-left: -56px;
	margin-top: -50px;
	position:absolute;
	top:50%;
}

.contact_links>a{
	color:#333;
	margin:0 10px 0 10px;
}

.contact_links>a:hover{
	color:#111;
}
#contact_xs{
	border:2px solid #47B56F;
}

#contact_xs>div:first-child{
	background-color: #47B56F;
}

#contact_xs>.xs_content{
	font-size: 1.3em;
	text-align: center;
}

#degree{
	color:#FE4455;
	font-size:1.5em;
}

#education{
	top: 0;
	left: 19vw;
}

#education .face{
	background-color: #FE4455;	
}


#education_content{
	background-color: rgba(255,189,195,1);
	font-size:1.5em;
	height:90%;
	left:10%;
	overflow:auto;
	padding-left:5%;
	position:absolute;
	top:5%;
	width:70%;
	text-align:left;
}

#education_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	right:7%;
	top:40%;
}

#education_xs{
	border:2px solid #FE4455;
}

#education_xs>div:first-child{
	background-color: #FE4455;
}

.expanded{

}

#experience{
	color:#9A58DB;
	font-size:1.5em;
}

.fa-envelope, .fa-briefcase{
	margin:-40px 0 0 -40px;
}

.fa-graduation-cap{
	margin:-40px 0 0 -51px;
}

.fa-folder-open{
	margin:-40px 0 0 -43px;
}

.flippable{
	cursor: pointer;
	height: 100%;
 	position: absolute;
  	transform-style: preserve-3d;
  	transition: transform 1s;
  	width: 100%;
}

.flippable .face{
	backface-visibility: hidden;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;	
}

.flipped{
	transform:rotateY(180deg);
}

h1{
	color:white;
	font-size: 4vw;
	text-align: center;
}

#hex_container{
	display:block;
	left:42.5vw;
	perspective:1000px;
	top:55vh;
}

.hexagon,
#hex_container {
	height: 10.4vw;
	width: 18vw;
	position: absolute;
}

.hexagon:after,
.hexagon:before {
	 content: " ";
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 left: 0;
	 top: 0;
	 transform: rotate(60deg);
	 background: inherit;
	 z-index: -1;
}

.hexagon:after {
 	transform: rotate(120deg);
}

.hexagon>.fa{
	color:white;
	font-size: 5em;
	left:50%;
	position: absolute;
	top:50%;
}

h2{
	margin:1%;
	text-transform:uppercase;
}

.hidden{
	display:none!important;
}

.visually_hidden{
	opacity:0;
	transition:0.1s;
}

#med_content{
	display:none;
}

#med_content.expanded_contact{
	font-size: 2em;
	border-color: #47B56F;
}

#med_content.expanded_education{
	border-color: #FE4455;
}

#med_content.expanded_projects{
	border-color: #2CB7F2;
}

#med_content.expanded_work{
	border-color: #9A58DB;
}

#or{
	background-color:rgba(203, 235, 195, 1);
	font-size:2em;
	height:20%;
	left:47.5%;
	position:absolute;
	text-align:center;
	top:35%;
	width:5%;
	vertical-align:middle;
	padding-top:5%;
}

#programming_languages{
	border-right:2px solid #000000;
	display:inline-block;
	float:left;
	height:100%;
	width:33.3%;
}

#programming_languages ul{
	list-style-type:none;
}

#proj{
	color:#2CB7F2;
	font-size:1.5em;
}

#projects{
	left: -9.5vw;
	top: -16.5vw
}

#projects .face{
	background-color:  #2CB7F2;
}

#projects_content{
	background-color: rgba(189, 202, 255, 1);
	font-size:1.2em;
	height:90%;
	overflow:auto;
	position:absolute;
	right:10%;
	top:5%;
	width:75%;
	text-align:left;
}


#projects.expanded{
	height:75%;
	right:10vw;
	width:75vw;
	left:auto;
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 0.75s, 0s;
}

#projects_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	left:10%;
	top:40%;
}

#projects_xs{
	border:2px solid #2CB7F2;
}

#projects_xs>div:first-child{
	background-color:#2CB7F2;
}

.subcategory{
	font-weight:bold;
}

#work{
	left: 9.5vw;
	top: -16.5vw;
}

#work .face{
	background-color: #9A58DB;
}


#work_content{
	background-color:rgba(204, 187, 240, 1);
	bottom:5%;
	font-size:1.5em;
	height:75%;
	left:12.5%;
	position:absolute;
	width:75%;
}

#work_icon_tab{
	color:rgba(255,255,255,1);
	position:absolute;
	top:10%;
	left:45%;
}

#work_xs{
	border: 2px solid #9A58DB;
}

#work_xs>div:first-child{
	background-color: #9A58DB;
}

.xs_content{
	margin:auto;
	margin-bottom: 5%;
	margin-top:5%;
	width:85%;
}

.xs-tab{
	background-color: white;
	display:none;
	height:19vh;
	margin-top:1px;
	min-height:100px;
}

.xs-tab>div:first-child{
	height:50px;
}


/******************************************************************************************************************/


#education.expanded{
	height:75%;
	left:10vw;
	width:75vw;
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 0.75s, 0s;
}

#work.expanded{
	bottom:15vh;
	height:82vh;
	position:absolute;
	width:75vw;
	/*top:-82vh;*/
	top:auto;
	-webkit-transition: width 0.95s, height 0.95s;
}