body{
	background-image:url('../images/wood_texture.jpg');
	font-family: 'Open Sans Condensed', sans-serif;
}

header{
	background-color: #F0E9C0;
	box-shadow:0px 2px 5px #525252;
	margin:0 auto;
	margin-top:30px;
	padding:0.75%;
	position:relative;
	text-align:center;
	width:50%;
}

header:before{
	content:"";
	background:#111;
	bottom:15px;
	box-shadow:0 15px 10px #333;
	left:10px;
	max-width:300px;
	position:absolute;
	top:80%;
	transform:rotate(-5deg);
	width:35%;	
	z-index:-1;
}

iframe{
	height:236px;
	margin-left:25px;
	width:315px;
}

#main_container{
	float:left;
	padding-left:50px;
	padding-right:15px;
	position:relative;
	width:600px;
	
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size:100% 30px;

}

#main_container::before {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #FA9090;}

#main_container:after {
	content: "";
	background: #111;
	bottom: 15px;
	box-shadow: 0 15px 10px #333;
	max-width: 300px;
	position: absolute;
	right: 8px;
	top: 80%;
	transform: rotate(5deg);
	width: 48%;
	z-index: -1;

}

#main_container, #media_container{
	background-color:white;
	box-shadow:2px 2px 5px #525252;
	display:inline-block;	
	margin:50px 2%;
}

#media_container{
	padding:20px;
}

p{
	font-size:1.2em;
	line-height:30px;
	padding-top:11px;
}
